/* default configuration */
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
*{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Helvitica-neue',Arial, Helvetica, sans-serif;
}
body{
    background: url(assets/—Pngtree—pixel\ games\ fresh\ background_326933.jpg) no-repeat;
}
h2{
    color: #ecfdc5;
    font-size: 48px;
    text-shadow: 2px 2px 4px #183583;
}
h3{
    color:#10b981;
    font-size: 48px;
    text-shadow: 2px 2px 4px #183583;
}

h4{
    color: #ecfdc5;
    text-shadow: 1px 1px #183583;
    font-size: 24px;
}
p{
    font-size:x-large;
    color:#333f51;
}
/* header */
header{
    padding: 2% 3% 2% 3%;
    display: flex;
    justify-content: space-between;
    background: no-repeat cover;
}

header h1{
    color: #ecfdc5;
    text-shadow: 3px 3px #10b981;
}

#docs{
    border: none;
    border-radius:  5px;
    font-size: 18px;
    color:#333f51;
    width: 102px;
    height: 48px;
}
#play-now{
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: #ecfdc5;
    background-color: #10b981;
    width: 102px;
    height: 48px;
}
#play-now:hover{
    background-color: #18835f;
}

/* Main */

main #s1{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    align-items: center;
    padding: 2% 3% 2% 3%;
}
/* left */
#s1 .left #download{
        border-radius: 5px;
        border: none;
        font-size: 18px;
        color: #ecfdc5;
        background-color: #10b981;
        width: 102px;
        height: 48px;
    }
    #s1 .left #download:hover{
        background-color: #18835f;
    }
/* right */
.right form{
    padding: 2% 2% 2% 2%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #188363;
}
.right  form input{
    margin-bottom: 5%;
    padding-bottom: 5%;
}